#footer{
    display: none;
}

.question_block{
    border-bottom: 2px solid #ededed;
    padding: 20px 20px 30px 20px;
    cursor: pointer;
    margin-bottom: 2vh;
    line-height: 1.5;
}

.question_block::before{
    content: "Q.";
    font-size: 34px;
    font-size: 2.42857rem;
    line-height: 1.23529;
    font-weight: 700;
    color: #666a;
    width: 30px;
    height: 30px;
    position: absolute;
    left: 0;
    top: -5px;
}

.down_arrow{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 24px;
    color: #555;

    transition: transform .3s linear 0.2s;
}
   
 .down_arrow.active {
 
    transform: rotate(180deg);
 }
 

.question{
    padding-left: 3vw;
    /* line-height: 34px; */
    font-weight: 700;
    margin-top: -8px;
}

.answer{
    padding-left: 3vw;
    margin-top: 3vh;
    font-size: 14px;
    display: none;
}

@media only screen and (max-width: 1000px) {

    .question_container{
        padding: 0 10vw;
    }

    .question_block{
        padding: 20px 5vw 30px 5vw;
    }

    .question{
        padding-left: 8vw;
        line-height: 34px;
        margin-top: -17px;
    }

    .answer{
        padding-left: 8vw;
    }

}