#footer{
    padding: 0;
    display: none;
}

#footerContainer{
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0.2, .8)), url(../../img/footer_bg.jpg);
    color: white;
    text-align: center;
    padding: 45px;
    background-size: cover;
}

#footerInner{
    margin-bottom: 65px;
}

.footer_links{
    margin-top: 5vh;
    margin-bottom: 5vh;
    padding: 5vh 0;
    border-top: 2px dashed #999;
    border-bottom: 2px dashed #999;
}

.local_links{
    list-style: none;
}

.local_links li{
    margin-bottom: 20px;
    margin-right: 10px;
    margin-left: 10px;
    display: inline-block;
}

.hours_footer{
    color: #999;
}
.hours_block{
    font-size: 13pt;
    color: #fff;
    padding-bottom: 5px; 
}
.hours_line{
    margin: 0;
    padding: 0;
}
.hours_left{
    text-align: left;
}
.hours_right{
    text-align: right;
    color: #9a9999;
    font-weight: bold;
}
.social_links{
    color: #999;
}

.social_links i{
    font-size: 18px;
    color: #fff;
    margin: 0 5px;
    line-height: 18px;
    border: 1px solid #fff;
    border-radius: 50%;
    height: 32px;
    width: 32px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .3s;
}

.social_links i:hover{
    background: white;
    color: black;
    transition: .3s;
}

.footer_book_now{
    padding: 10px 20px;
    border: 1px solid white;
    color: white;
    border-radius: 25px;
    transition: .3s;
    margin-bottom: 5vh;
    cursor: pointer;
    font-size: 16pt;
}

.footer_book_now:hover{
    color: black;
    background: white;
    transition: .3s;
}

.copyright{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 75px;
    background: #333;
    color: #666;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*************************/
/***** MEDIA QUERIES *****/
/*************************/

@media only screen and (max-width: 1000px) {

    .footer_links{
        margin: 0;
        margin: 5vh 0;
    }

    .local_links{
        -webkit-box-pack: center;
        padding-bottom: 7vh;
    }
    .hours_footer{
        padding-top: 7vh;
        padding-left: 0;
        padding-right: 0;
    }

    .footer_contact{
        padding-bottom: 20px;
    }

}